@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="fs-1 fw-bold text-success">Welcome to My HomeWork</h1>
    <img src="/img/open-book.jpg" class="img-fluid shadow p-3 mb-5 bg-white rounded" alt="Welcome">
</div>
